<section class="cart py-16">
  <% if(session.cart) {%>
  <div class="order container mx-auto w-1/2">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img src="img/cart-black.png" alt="" />
      <h2 class="font-bold text-2xl ml-4">Order Summary</h2>
    </div>
    <div class="pizza-list">
      <% Object.values(session.cart.items).forEach(cart => { %>
      <div class="flex items-center my-8">
        <img class="w-24" src="img/<%= cart.item.image%>" alt="" />
        <div class="ml-6 flex-1">
          <h2 class="text-xl"><%= cart.item.name%></h2>
          <span class="uppercase"><%= cart.item.size%></span>
        </div>
        <span class="flex-1"><%= cart.qty%> Pcs x <%= cart.item.price%></span>
        <span class="font-bold text-xl">৳<%= cart.qty * cart.item.price%></span>
      </div>
      <% }) %>
    </div>
    <hr />
    <div class="text-right my-4">
      <div>
        <span class="text-lg font-bold">Total Amount:</span>
        <span class="amount text-2xl font-bold ml-2"
          >৳<%= session.cart.totalPrice%></span
        >
      </div>
      <div class="mt-8">
        <form action="">
          <input
            class="border border-gray-400 p-2 w-1/2 mb-4"
            type="number"
            placeholder="Enter phone number"
          />
          <input
            class="border border-gray-400 p-2 w-1/2"
            type="text"
            placeholder="Enter address"
          />
          <div class="mt-6">
            <button
              class="px-6 py-2 text-xl text-white rounded-full btn-primary"
              type="submit"
            >
              Order now
            </button>
          </div>
        </form>
        <!-- <a
          href="/login"
          class="inline-block cursor-pointer px-6 py-2 text-xl text-white rounded-full btn-primary"
          >Login to continue</a
        > -->
      </div>
    </div>
  </div>
  <%} else {%>
  <div class="empty-cart">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
      <p class="text-gray-500 text-lg">
        You probably haven't ordered a pizza yet. <br />
        To order a pizza goto home page
      </p>
      <img
        class="w-2/5 mx-auto my-6"
        src="img/empty-cart.png"
        alt="Empty Cart"
      />
      <a
        href="/"
        class="inline-block px-6 py-2 rounded-full text-white font-bold btn-primary"
      >
        Go Back</a
      >
    </div>
  </div>
  <% }%>
</section>
